html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  width: 100%;
  display: table-cell;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}

div#root {
  height: 100%;
}

div.app {
  height: 100%;
}
